.header{
    background-color: #B01E68;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header h1{
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: lighter;
}